@{
	ViewData["Title"] = "Basic Tables - Tables";
}


@model AspnetCoreMvcFull.Models.AddStockEntryViewModel



<div class="container mt-5">
    <h2 class="mb-4">Stock</h2>
    <div class="row">
        <!-- Form Section (Left Column) -->
        <div class="col-md-7">
            <!-- Tab Content -->
            <div class="tab-content" id="myTabContent">
                <!-- Panels Details Tab -->


                <h4>Panels Details</h4>
                <form id="registrationForm" method="post">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="companyNamePanels" class="form-label">Company Name</label>
							<input type="text" asp-for="companyNamePanels" class="form-control" id="companyNamePanels" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="modelPanel" class="form-label">Panel Model</label>
							<input type="text" asp-for="modelPanel" class="form-control" id="modelPanel" oninput="updatePreview()">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="panelCapacity" class="form-label">Panel Capacity</label>
							<input type="text" asp-for="panelCapacity" class="form-control" id="panelCapacity" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="numberPanels" class="form-label">Number of panels</label>
							<input type="text" asp-for="numberPanels" class="form-control" id="numberPanels" oninput="updatePreview()">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="pricePanel" class="form-label">Price</label>
							<input type="text" asp-for="pricePanel" class="form-control" id="pricePanel">
                        </div>
                        <div class="col-md-6">
                            <label for="imagePanel" class="form-label">Image</label>
							<input type="file" asp-for="imagePanel" class="form-control" id="imagePanel" oninput="updatePreview()">

                        </div>
                    </div>




                    <!-- Inverter Details Tab -->

                    <h4>Inverters Details</h4>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="companyNameInverter" class="form-label">Company Name</label>
							<input type="text" asp-for="companyNameInverter" class="form-control" id="companyNameInverter" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="modelInverter" class="form-label">Model</label>
							<input type="text" asp-for="modelInverter" class="form-control" id="modelInverter" oninput="updatePreview()">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="inverterCapacity" class="form-label">Inverter Capacity</label>
							<input type="text" asp-for="inverterCapacity" class="form-control" id="inverterCapacity" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="inverterPhase" class="form-label">Phase type</label>
							<input type="text" asp-for="inverterPhase" class="form-control" id="inverterPhase" oninput="updatePreview()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">

                            <label for="priceInverter" class="form-label">Price</label>
							<input type="text" asp-for="priceInverter" class="form-control" id="priceInverter" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="numberInverters" class="form-label">Number of inverters</label>
							<input type="text" asp-for="numberInverters" class="form-control" id="numberInverters" oninput="updatePreview()">
                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-md-6">
                            <label for="imageInverter" class="form-label">Image</label>
							<input type="file" asp-for="imageInverter" class="form-control" id="imageInverter" oninput="updatePreview()">
                        </div>
                    </div>

                


                    <!-- Batteries Details Tab -->

                    <h4>Batteries Details</h4>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="batteryNameInverter" class="form-label">Company Name</label>
							<input type="text" asp-for="batteryNameInverter" class="form-control" id="batteryNameInverter" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="batteryModel" class="form-label">Model</label>
							<input type="text" asp-for="batteryModel" class="form-control" id="batteryModel" oninput="updatePreview()">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="batteryCapacity" class="form-label">Battery Capacity</label>
							<input type="text" asp-for="batteryCapacity" class="form-control" id="batteryCapacity" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="batteryPhase" class="form-label">Phase</label>
							<input type="text" asp-for="batteryPhase" class="form-control" id="batteryPhase" oninput="updatePreview()">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="batteryPrice" class="form-label">Price</label>
							<input type="text" asp-for="batteryPrice" class="form-control" id="batteryPrice" oninput="updatePreview()">
                        </div>
                        <div class="col-md-6">
                            <label for="numberBatteries" class="form-label">Number of Batteries</label>
							<input type="text" asp-for="numberBatteries" class="form-control" id="numberBatteries" oninput="updatePreview()">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="batteryImage" class="form-label">Image</label>
							<input type="file" asp-for="batteryImage" class="form-control" id="batteryImage" oninput="updatePreview()">
                        </div>
                    </div>

					<button type="submit" id="submitButton"  class="btn btn-primary">Submit</button>
				
				
                </form>
              
            </div>
        </div>
    </div>

	

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
