@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
<ul class="menu-inner py-1">
  <!-- Dashboards -->
  <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
      <i class="menu-icon tf-icons bx bx-home-smile"></i>
      <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
    </a>
  </li>

  <!-- Quote Entry -->
  <li class='menu-item active'>
    <a asp-controller="QuoteEntry" asp-action="Quote" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Quote Entry</div>
    </a>
  </li>

  <!-- Stock -->
  <li class='menu-item '>
    <a asp-controller="StockEntry" asp-action="Stock" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Stock</div>
    </a>
  </li>

  <!-- Solar Quote -->
  <li class=menu-item>
    <a asp-controller="SolarQuote" asp-action="SolarQuote" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Solar Quote</div>
    </a>
  </li>


  <!-- Savings Calculator -->
  <li class=menu-item>
    <a asp-controller="SavingsCalculator" asp-action="SavingsCalculator" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Savings Calculator </div>
    </a>
  </li>


  <!-- Installation per week calendar -->
  <li class=menu-item>
    <a asp-controller="InstallationsPerWeek" asp-action="Installations" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Installations per week </div>
    </a>
  </li>

  <!-- Sales -->
  <li class=menu-item>
    <a asp-controller="Sales" asp-action="Sale" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Sales</div>
    </a>
  </li>
  <!-- Finance -->
  <li class=menu-item>
    <a asp-controller="Finances" asp-action="Finance" class="menu-link">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div>Finance</div>
    </a>
  </li>


  <!-- Components
  <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li> -->
  <!-- Cards
  <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
    <a asp-controller="Cards" asp-action="Basic" class="menu-link">
      <i class="menu-icon tf-icons bx bx-collection"></i>
      <div class="text-truncate" data-i18n="Cards">Cards</div>
    </a>
  </li>
    -->
  <!-- User interface
  <li class='menu-item@(currentPage.StartsWith("/Ui") ? " active open" : "")'>
    <a href="javascript:void(0)" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-box"></i>
      <div>User interface</div>
    </a>
    <ul class="menu-sub">
      <li class='menu-item@(currentPage == "/Ui/Accordion" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Accordion" class="menu-link">
          <div>Accordion</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Alerts" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Alerts" class="menu-link">
          <div>Alerts</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Badges" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Badges" class="menu-link">
          <div>Badges</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Buttons" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Buttons" class="menu-link">
          <div>Buttons</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Carousel" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Carousel" class="menu-link">
          <div>Carousel</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Collapse" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Collapse" class="menu-link">
          <div>Collapse</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Dropdowns" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Dropdowns" class="menu-link">
          <div>Dropdowns</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Footer" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Footer" class="menu-link">
          <div>Footer</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/ListGroups" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="ListGroups" class="menu-link">
          <div>List groups</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Modals" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Modals" class="menu-link">
          <div>Modals</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Navbar" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Navbar" class="menu-link">
          <div>Navbar</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Offcanvas" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Offcanvas" class="menu-link">
          <div>Offcanvas</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/PaginationBreadcrumbs" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="PaginationBreadcrumbs" class="menu-link">
          <div>Pagination &amp; Breadcrumbs</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Progress" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Progress" class="menu-link">
          <div>Progress</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Spinners" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Spinners" class="menu-link">
          <div>Spinners</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/TabsPills" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="TabsPills" class="menu-link">
          <div>Tabs &amp; Pills</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Toasts" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Toasts" class="menu-link">
          <div>Toasts</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/TooltipsPopovers" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="TooltipsPopovers" class="menu-link">
          <div>Tooltips &amp; Popovers</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Ui/Typography" ? " active" : "")'>
        <a asp-controller="Ui" asp-action="Typography" class="menu-link">
          <div>Typography</div>
        </a>
      </li>
    </ul>
  </li>
    -->
  <!-- Extended components
  <li class='menu-item@(currentPage.StartsWith("/ExtendedUi") ? " active open" : "")'>
    <a href="javascript:void(0)" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-copy"></i>
      <div>Extended UI</div>
    </a>
    <ul class="menu-sub">
      <li class='menu-item@(currentPage == "/ExtendedUi/PerfectScrollbar" ? " active" : "")'>
        <a asp-controller="ExtendedUi" asp-action="PerfectScrollbar" class="menu-link">
          <div>Perfect scrollbar</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/ExtendedUi/TextDivider" ? " active" : "")'>
        <a asp-controller="ExtendedUi" asp-action="TextDivider" class="menu-link">
          <div>Text Divider</div>
        </a>
      </li>
    </ul>
  </li>
     -->
  <!-- Icons
  <li class='menu-item@(currentPage == "/Icons/Boxicons" ? " active" : "")'>
    <a asp-controller="Icons" asp-action="Boxicons" class="menu-link">
      <i class="menu-icon tf-icons bx bx-crown"></i>
      <div>Boxicons</div>
    </a>
  </li>
    -->
  <!-- Forms & Tables
  <li class="menu-header small text-uppercase"><span class="menu-header-text">Forms &amp; Tables</span></li>-->
  <!-- Forms
  <li class='menu-item@(currentPage.StartsWith("/Forms") ? " active open" : "")'>
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-detail"></i>
      <div>Form Elements</div>
    </a>
    <ul class="menu-sub">
      <li class='menu-item@(currentPage == "/Forms/BasicInputs" ? " active" : "")'>
        <a asp-controller="Forms" asp-action="BasicInputs" class="menu-link">
          <div>Basic Inputs</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/Forms/InputGroups" ? " active" : "")'>
        <a asp-controller="Forms" asp-action="InputGroups" class="menu-link">
          <div>Input groups</div>
        </a>
      </li>
    </ul>
  </li>
  <li class='menu-item@(currentPage.StartsWith("/FormLayouts") ? " active open" : "")'>
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-detail"></i>
      <div>Form Layouts</div>
    </a>
    <ul class="menu-sub">
      <li class='menu-item@(currentPage == "/FormLayouts/Vertical" ? " active" : "")'>
        <a asp-controller="FormLayouts" asp-action="Vertical" class="menu-link">
          <div>Vertical Form</div>
        </a>
      </li>
      <li class='menu-item@(currentPage == "/FormLayouts/Horizontal" ? " active" : "")'>
        <a asp-controller="FormLayouts" asp-action="Horizontal" class="menu-link">
          <div>Horizontal Form</div>
        </a>
      </li>
    </ul>
  </li>
    -->
  <!-- Tables -->
  <li class='menu-item@(currentPage == "/Tables/Basic" ? " active" : "")'>
    <a asp-controller="Tables" asp-action="Basic" class="menu-link">
      <i class="menu-icon tf-icons bx bx-table"></i>
      <div>Tables</div>
    </a>
  </li>



</ul>

</aside>

